<div class="container mt-5">
  <%= render 'authentication' %>

  <%= link_to 'Back', todos_path, class: 'btn btn-outline-primary mb-3' %>

  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Edit Task</h1>

      <%= form_for @todo, html: { class: 'form' } do |f| %>
        <% if @todo.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>Error:</strong>
            <%= @todo.errors.full_messages.join(', ') %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :name, class: 'form-label' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :description, class: 'form-label' %><br>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.submit 'Update Task', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
