<div class="container mt-5">
  <%= link_to 'Back', todos_path, class: "btn btn-outline-primary mb-3" %>

  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Create New Task</h1>

      <%= form_for @todo, html: { class: 'form' } do |f| %>
        <div class="mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :description, class: 'form-label' %>
          <%= f.text_area :description, class: 'form-control', rows: 4 %>
        </div>

        <div class="mb-3">
          <%= f.submit 'Create Task', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
